.menu{
  position: relative;
  background: url('../img/bg/menu.jpg') center center/cover no-repeat;
}

.menu__title{
  position: absolute;
  top: 10%;
  left: 10%;
}

.menu__acco{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.menu__acco-item{
  height: 100%;
  display: flex;
  color: #fff;

  &.active{
    .menu__acco-trigger-text{
      color: #F9B43B;
    }
  }
}

.menu__acco-trigger{
  width: 80px;
  display: block;
  height: 100%;
  text-decoration: none;
  position: relative;
  font-family: 'Gagalin';
  font-weight: 400;
  font-size: 30px;

  &--meat{
    background: url(../img/bg/menu1.jpg) center center/cover no-repeat;
  }

  &--veg{
    background: url(../img/bg/menu2.jpg) center center/cover no-repeat;
  }

  &--diet{
    background: url(../img/bg/menu3.jpg) center center/cover no-repeat;
  }
}

.menu__acco-trigger-text{
  font-size: 40px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -20px;
}

.menu__acco-content{
  height: 100%;
  background: rgba( #2f3234, .93);
  width: 0;
  overflow: hidden;
}

.menu__acco-text{
  font-size: 14px;
  color: #fff;
  padding: 60px 30px;
  width: 100%;
  line-height: 1.8;
  display: none;
  font-family: 'Ubuntu';
  font-weight: 300;
}