.order{
  background: url('../img/bg/order.jpg') center center / cover no-repeat;
  color: #fff;
}

.order__container{
  align-items: center;
}

.form__content{
  display: flex;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 14px;
}

.form__input{
  border:none;
  border-radius: 5px;
  padding: 8px 20px;
  width: 100%;

  &--textarea{
    height: 110px;
    resize: none;
  }
}

.form__col{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 20px;

  &:last-child{
    margin-right: 0;
  }
}

.form__row{
  display: flex;
  margin-bottom: 15px;
}

.form__block{
  flex: 1;
  margin-right: 20px;

  &:last-child{
    margin-right: 0;
  }
}

.form__radio-label{
  display: flex;
  margin-right: 10px;

  &:last-child{
    margin-right: 0;
  }
}

.form__radio{
  position: absolute;
  left: -999999px;

  &:checked ~ .form__custom-radio:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #e25028;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.form__custom-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  margin-right: 5px;
}

.form__check{
  position: absolute;
  left: -999999px;

  &:checked+.form__custom-check::after {
    content: '';
    display: block;
    height: 5px;
    width: 8px;
    border-left: 4px solid #e25028;
    border-bottom: 4px solid #e25028;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-60%) rotate(-45deg);
    -ms-transform: translate(-50%,-60%) rotate(-45deg);
    transform: translate(-50%,-60%) rotate(-45deg);
}
}

.form__custom-check {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  margin-right: 5px;
}

.reset-btn {
  background: 0 0;
  color: #fff;
  font-size: .875rem;
  font-weight: 300;
  border: 0;
  cursor: pointer;
}

.order-btn{
  border: 0;
}